@import "../../../../templates/default/delos.less";
@import "variables.less";

/* Uni Freiburg 5.x ILIAS Skin */

@mainmenu-color: #E1E2DD;
@unifr-blue: #014999;
@background-gray: #f0f0f0;
@navbar-gray: #E1E2DD;
@topbarnav-lightblue: rgba(86, 129, 184, 0.6);

#overallContainer {
  overflow: hidden;
  min-height: 100%;
}

body.std {
  background-color: #FFFFFF;

}

#leftBanner {
  background-color: #ffffff;
  background-image: url(images/unilogo-200x66.gif);
  background-repeat: no-repeat;
  width: 66px;
  margin-bottom: -15000px;
  padding-bottom: 15000px;
}

#ilTopBar.ilTopBar {
  position: static;
  background-color: @unifr-blue;
  height: 88px;
  z-index: 2;
}

#ilTopNav.navbar {
  min-height: 27px;
}

#ilTopBarNav .dropdown-menu a {
  color: #2C2828;
}

#ilTopBarNav .dropdown-menu a:hover {
  background-color: #AEAEAE;
  color: #F9F9F9;
}

#ilTopBarNav .dropdown-menu {
  background-color: #F9F9F9;
}

#ilTopBarNav .dropdown-menu #ilMMSearchMenu a {
  color: #2C2828;
}

#ilMMSearchMenu p {
  color: #2C2828;
}

#ilTopNav .navbar-nav {
  padding-left: 15px;
  margin: 2px 5px 0 0;
  font-family: "arial";
  font-size: 12;
}

.ilMainHeader > header > .row > a.navbar-brand {
  display: none;
  height: 0px;
  width: 0px;
}

.ilMainHeader,
.ilMainHeader.ilTopFixed {
  background-image: url(images/red_stroke.jpg);
  background-repeat: no-repeat;
  height: 8px;
  position: static;
}

.ilMainMenu.ilTopFixed {
  top: 131px;
  position: absolute;
  height: 0;
  z-index: 1;
}

#ilAll {
  overflow: hidden;
  position:absolute;
  min-width: calc(~'100% - 66px');
  background-color: @background-gray;
}

.ilTopTitle {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 20pt;
  font-family: "times new roman";
}

.ilTopSubtitle {
  position: absolute;
  top: 66px;
  left: 32px;
  font-family: helvetica, arial;
}

footer.ilFooter {
  background-color: @unifr-blue;
  height: 30px;
  padding: 2px 0 0 15px;
  font-family: "arial";
}

#ilTopNav {
  margin: -38px 0 0 2px;
}

#ilTopNav.navbar-default {
  background-color: @navbar-gray;
  left: 1px;
  margin-left: 0;
  padding-left: 0;
}

#ilTopNav .navbar-nav > li {
  margin: 0;
}

#ilTopNav .navbar-nav > li > a {
  border-top: 0px;
  padding: 0 10px 0 10px;
  font-size: 8pt;
  color: #000000;
  border-right: 1px solid grey;
  margin: 0;
}

#ilTopNav .navbar-nav > li > a > span {
  display: none;
}

#ilTopBarNav > li > a {
  background-color: @topbarnav-lightblue;
}

.ilContainerWidth {
  padding: 0 15px 0 15px;
  max-width: none;
}

#mainscrolldiv {
  padding-top: 25px;
}

#mainspacekeeper {
  margin: 0 0 20px 0;
}

a.ilTreeView {
  width: 0px;
  box-shadow: none;
  border: none;
}

.ilLeftNav {
  margin-left: 0;
  top: 24px;
  position: absolute;
  z-index: 0;
  margin-bottom: -15000px;
}

a#imgtree {
  position: absolute;
  top: 212px;
}

#ilAdvSelListAnchorText_socialbm_actions {
  display:none;
}

#ilTopNav .navbar-nav > .open > a:focus {
  border-top: none;
}

#ilTopNav .navbar-nav > li.open > a {
  border-top:none;
}

div#minheight {
  height: 0;
}